@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neueue-Montreal";
  src: url("./fonts/NeueMontreal-Regular.ttf");
}

@font-face {
  font-family: "Founders-Grotesk";
  src: url("./fonts/FoundersGrotesk-Semibold.ttf");
}
